.paginatecontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pages{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.btn{
    text-transform: none;
    top: 40px;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Lato';
    height: 25px;
    background: #940036 ;
    color: white ;
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    border: 0;
}

.btn:hover{
    background: white;
    color: #940036;
}
