
.errors {
    color: red;
}

.formcontainer {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 800px;
    max-width: 800px;
    width: 100%;
    max-height: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 0.2rem;
}


.textarea{
    margin-top: 3px;
    width: 500px;
    height: 80px;
    max-width: 500px;
    max-height: 150px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato';
    border-radius: 0.2rem;
}

.input{
    margin-top: 3px;
    margin-bottom: 15px;
    padding: 2px 10px;
    text-transform: none;
    top: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Lato';
    height: 30px;
    width: 500px;
    border-radius: 0.2rem;
}

.select{
    margin-top: 3px;
    margin-bottom: 15px;
    padding: 2px 10px;
    text-transform: none;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Lato';
    height: 35px;
    width: 450px;
}

.resetbtn{
    background: #940036 ;
    color: white ;
    padding: 6px 10px;
    text-transform: none;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Lato';
    height: 35px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 0.2rem;
    border: 0;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);

}



.resetbtn:hover{
    background: white;
    color: #940036;
}

.submitbtn{
    margin-top: 30px;
    padding: 10px 20px;
    background: #940036 ;
    color: white ;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Lato';
    border: 0;
    border-radius: 0.4rem;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.submitbtn:hover{
    background: white;
    color: #940036;
} 

.submitbtn:disabled{
    background: white;
    color: lightgrey;
    font-weight: 400;
    font-family: 'Lato';
}

.labels{
    font-size: 1.2rem;
    font-weight: 600;
}

.select{
    text-align-last: center;
}

option{
    text-align-last: center;
}

